@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Number partition</h2>
    <p class="lead">It's a number partition problem solved with genetic algorithm</p>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Load File</label>
            <input type="file" />
        </div>

        <div class="form-group">
            <label>Quantity of sets</label>
            <input type="number" class="form-control" />
        </div>

        <div class="form-group">
            <label>Quantity of generations</label>
            <input type="number" class="form-control" />
        </div>

        <div class="form-group">
            <label>Initial Population</label>
            <input type="number" class="form-control" />
        </div>

        <div class="form-group">
            <label>Crossover rate</label>
            <input type="number" class="form-control" />
        </div>

        <div class="form-group">
            <label>Mutation rate</label>
            <input type="number" class="form-control" />
        </div>

        <div class="form-group">
            <a href="#" class="btn btn-success">Execute</a>
        </div>
    </div>

    <div class="col-md-9"></div>
</div>